.container {
  max-width: 730px;
  /* border: 2px solid orange; */
  /* background-color: black; */
}
.my-color {
  background-color: #38b6ff;
}
h4 {
  font-size: 15px;
}
a {
  font-size: 14px;
}
.my-font {
  /* margin -top: 10px; */
  font-size: 14px;
  font-weight: bold;
}
.my-image {
  width: 11%;
  height: 21%;
}
/* .logo {
  padding: 0px;
} */
